.section--projectsHome {
  background-color: black;
  .intro {
    padding: 20vh 0;
  }
  .outro {
    padding: 40vh 0;
  }
}
.cloumns {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 20vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}
.cloumn {
  width: 100%;
  position: relative;
  display: grid;
  gap: 2vw;
  grid-template-columns: 100%;
  will-change: transform;
}

.cloumn--item {
  margin: 0;
  position: relative;
  z-index: 1;
}
.cloumn--item-imgwrap {
  width: 100%;
  aspect-ratio: 0.75;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.cloumn--item-img {
  position: absolute;
  top: calc(-1 * 30px);
  left: calc(-1 * 30px);
  height: calc(100% + 30px * 2);
  width: calc(100% + 30px * 2);
  background-size: cover;
  background-position: 50% 20%;
  backface-visibility: hidden;
}
