@import "styles/variables";

.section--project-slides-Home {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.project-slides {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.outro {
  display: flex;
  height: 100vh;
  background: yellow;
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  h3 {
    color: #eddae2;
    font-size: 2.5rem;
    font-weight: 600;
  }
  p {
    color: #cfa0ab;
    font-size: 1.2rem;
  }
  .link-github {
    border: 2px solid $default-pink;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-align: center;

    a {
      font-weight: 600;
      text-decoration: none;
      color: $default-pink;
      transition: color 0.3s ease;
    }

    &:hover {
      background-color: #eddae2;

      a {
        color: $black;
      }
    }
  }
}

.project-slide {
  width: 100vw;
  height: 100vh;
}

.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.scoll-down--bg {
  background-color: blue;
}
