.section--about-Home {
  position: relative;
  top: 0;
  bottom: auto;
}
.section_about {
  height: 200vh;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 0%;
  position: sticky;
  top: 0;
  left: auto;
  right: auto;
  overflow: clip;
}
