@import "styles/variables";

//  ----- layout style -----  \\
.section--project-Home {
  background-color: $black;
  .intro {
    padding: 20vh 0;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $default-pink;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
  .outro {
    padding: 40vh 0;
    .text-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
    }
    h3 {
      color: #eddae2;
      font-size: 2.5rem;
      font-weight: 600;
    }
    p {
      color: #cfa0ab;
      font-size: 1.2rem;
    }
    .link-github {
      border: 2px solid $default-pink;
      border-radius: 10px;
      padding: 10px;
      transition: background-color 0.3s ease;
      text-align: center;

      a {
        font-weight: 600;
        text-decoration: none;
        color: $default-pink;
        transition: color 0.3s ease;
      }

      &:hover {
        background-color: #eddae2;

        a {
          color: $black;
        }
      }
    }
  }
}

