.section--aboutHome {
  position: relative;
  top: 0;
  bottom: auto;
}
.section_about {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-left: 0%;
  position: sticky;
  top: 0;
  left: auto;
  right: auto;
  overflow: clip;
}
