.section--skillsHome {
  z-index: 30;
  background-color: #869a69;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.sticky-area {
  height: 300vh;
  position: sticky;
  top: 0;
}

.card-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
