.section--skillsHome {
  z-index: 30;
  background-color: #869a69;
}

.section-skills {
  height: 300vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  top: 0;
}

.card-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  position: sticky;
  height: auto;
  top: 2rem;
  bottom: 2rem;
  overflow: hidden;
  gap: 2rem;
}
