.content-container {
  display: flex;
  flex-direction: column;


  .title-wrap {
    margin: 50px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    &.show {
      opacity: 1;
    }

    img {
      width: 250px;
      height: 250px;
    }
    p {
      font-size: 35px;
      font-weight: 700;
    }
  }

  
}
